.git
.env
.env.backup
.env.production
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
.editorconfig
.gitattributes
.gitignore
README.md
run_project.md
scratch.php
docker-compose*.yml
